body {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#blocked-domains-list {
    display: flex;
    flex-direction: column;
}

#switch-container {
    display: flex;
    flex-direction: row;

}

#pill {
    height: 40px;
    width: 60px;
    border-radius: 20px;
    background: whitesmoke;
    border: solid black 2px;
    z-index: 4;
    border: solid 1px gray;
}

#peach {
    position: relative;
    height: 30px;
    padding: 5px;
    margin-left: -40px;
    z-index: 5;
    border-radius: 50%;
}

#circle {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius:100%;
    border: solid black 2px;
    margin-left: -70px;
    transition: margin-left 500ms;
    cursor:pointer;
    z-index: 6;
    border: solid 1px gray;
}

#blocked-domains-list {
    display: none;
}

#hide-list {
    cursor: pointer;
    
}

.tooltip {
    position: relative;
    display: inline-block;
}

#show, #hide {
    text-decoration: underline;
    font-weight: 500;
}

.term {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button.remove {
    background: none;
    height: 20px;
    border: solid 1px;
    margin-right: 10px;
    cursor: pointer;
}

#show-ass {
    color: red;
    font-weight: 800;
}

#covered-ass {
    color: green;
    font-weight: 800;
}