@keyframes expand {
  0% { height: 0px }
  100% { height: 200px}
}

#list_container {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
  animation: expand 500ms ease 0ms 1 normal;
}

#list_container.collapsed {
  animation: expand 500ms ease 0ms 1 reverse;
}

.svg_wrapper {
  opacity: 0;
  scale: 1;
  transition: opacity 0.5s ease-in, scale 0.3s ease-out;
  cursor: pointer;
}

.hover_opaque {
  opacity: 1;
}

.hover_scale {
  scale: 1.25;
}

.row {
  width: 100%;
  display: flex;
  flex: 1 0;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.term_container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.term_name {
  /* flex: 1; */
  width: calc(fit-content - 30px);
  word-break: break-word;
}

.term_counters {
  /* flex: auto; */
  width: fit-content;
  display: flex;
  align-items: center;
}
