:root {
  --pill-width: 70px;
  --pill-height: 35px;
  --circle-size: 40px;
}

.border_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#spacer {
  width: 100%;
  display: grid;
  place-items: center;
}

#switch_container {
  height: var(--circle-size);
  width: var(--pill-width);
  display: grid;
  place-items: center;
}

#pill {
  height: var(--pill-height);
  width: var(--pill-width);
  border-radius: calc(min(var(--pill-height), var(--pill-width)) / 2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05) inset;
  background: #ddd;
  z-index: 4;
  border: solid 0.125px #ccc;
  transition: background-color 400ms ease-in;
}

#peach {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
  position: absolute;
  height: var(--pill-height);
  padding: 4px;
  z-index: 5;
  margin-left: calc(
    1 *
      calc(
        calc(var(--pill-width)) -
          calc(min(var(--pill-height), var(--pill-width)))
      )
  );
}

#circle {
  position: absolute;
  height: var(--circle-size);
  width: var(--circle-size);
  box-shadow: -1px -1px 4px 2px rgba(0, 0, 0, 0.1) inset;
  background-color: #fff;
  border-radius: 100%;
  border: solid black 2px;
  margin-left: calc(
    -1 * calc(calc(var(--pill-width)) -
          calc(min(var(--pill-height), var(--pill-width))))
  );
  transition: margin-left 400ms;
  cursor: pointer;
  z-index: 6;
  border: solid 0.125px #ddd;
}

#pill.toggled {
  background-color: #6fbf73;
}

@keyframes wiggle {
  0% {
    scale: 1;
  }
  35% {
    scale: 1.2;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
}

#peach.untoggled {
  animation: wiggle 800ms ease 200ms 1 normal;
}

#circle.toggled {
  margin-left: calc(
    1 *
      calc(
        calc(var(--pill-width)) -
          calc(min(var(--pill-height), var(--pill-width)))
      )
  ) !important;
}
