:root {
  --pill-width: 4.375rem;
  --pill-height: 2.1875rem;
  --circle-size: 2.5rem;
}

.border_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#switch_container {
  position: relative;
  height: var(--circle-size);
  width: var(--pill-width);
  display: grid;
  place-items: center;
}

#pill {
  height: var(--pill-height);
  width: var(--pill-width);
  border-radius: calc(min(var(--pill-height), var(--pill-width)) / 2);
  box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.05) inset;
  background: #ddd;
  z-index: 4;
  border: solid 0.5px #ccc;
}

#pill.transition {
  transition: background-color 400ms ease-in;
}

#pill.toggled {
  background-color: #6fbf73;
}

#peach {
  filter: drop-shadow(0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3));
  position: absolute;
  height: var(--pill-height);
  padding: 0.25rem;
  z-index: 5;
  margin-left: calc(1 * calc(calc(var(--pill-width)) - calc(min(var(--pill-height), var(--pill-width)))));
  cursor: grab;
  animation: wiggle 800ms ease 300ms 1 normal;
}

#peach:active {
  cursor: grabbing;
}

@keyframes wiggle {
  0% {
    scale: 1;
  }

  35% {
    scale: 1.2;
  }

  45% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }
}

#peach.toggled {
  animation: none;
}

#circle {
  position: absolute;
  height: var(--circle-size);
  width: var(--circle-size);
  margin-left: calc(-1 * calc(calc(var(--pill-width)) - calc(min(var(--pill-height), var(--pill-width)))));
  z-index: 6;
  border: solid 0.5px #ddd;
  border-radius: calc(var(--circle-size) / 2);
  box-shadow: -0.0625rem -0.0625rem 0.25rem 0.125rem rgba(0, 0, 0, 0.1) inset;
  background-color: #fff;
  cursor: pointer;
}

#circle.toggled {
  margin-left: calc(1 * calc(calc(var(--pill-width)) - calc(min(var(--pill-height), var(--pill-width))))) !important;
  background-color: #6fbf73;
}

#circle.transition {
  transition: margin-left 400ms;
}

#circle.processing {
  background-color: rgb(217, 217, 9);
  animation: pulse 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}